* {
  box-sizing: border-box;
}
@font-face {
  font-family: over ;
  src: url(../public/Overpass/Overpass-VariableFont_wght.ttf);
}

body{
  font-family: over;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  content: url(../public/logo.svg);
}